/*
 * Screen widths
    mobile: up to 599px;
    tablet: 600px tp 1199px;
    desktop: 1200px and above
*/

/* minireset.css */

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

/* END: minireset.css */

.button {
  display: inline-block;
  padding: 9px 18px 11px;
  margin: 0 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.9px;
  color: white;
  background-color: #1db9b9;
  opacity: 0.8;
  border: 0px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover,
.button:focus {
  opacity: 0.9;
}

.button:focus {
  box-shadow: inset 0 2px 14px -1px #00000050;
}

.button.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  box-shadow: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 1px;
  color: #333333;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-text {
  margin: 3rem auto;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.video-area {
  margin: 3rem auto;
  display: none;
}

.video-controls {
  margin: 1rem auto;
}

#start-video-button {
  display: none;
}